@model RR_RoadWays_Services.Models.Voucher;
@{
    ViewData["Title"] = "Voucher";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal ">
    @Html.Hidden("RedirectTo", Url.Action("Index", "Vouchers"))
    <div class="row">
        <div class="col-12 col-md-9">
            <h5>Voucher Details</h5>
            <hr />
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <strong>Voucher Number: </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <h5 id="VoucherNumber" class="float-right">0</h5>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Vehicle</span>
                        </div>
                        @Html.DropDownListFor(model => model.VehicleNumber, (IEnumerable<SelectListItem>)ViewBag.vehicleId, "--- Select Vehicle ---", new { @class = "form-control", required = "required" })

                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="input-group input-group-sm mb-3">
                        <a id="AddNewVehicle" class="btn btn-dark" style="color: #ffc107">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Month</span>
                        </div>
                        @Html.DropDownListFor(model => model.Month, Enumerable.Range(1, 12).Select(x => new SelectListItem { Value = x.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(x) }), "--- Select Month ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Voucher Date</span>
                        </div>
                        @Html.EditorFor(model => model.CreatedDate, new
                   {
                       htmlAttributes = new { @class = "form-control", required = "required" }
                   })
                    </div>
                </div>
            </div>

            <h5>UP Details</h5>
            <hr />
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Departure Date</span>
                        </div>
                        @Html.EditorFor(model => model.UpDate, new
                   {
                       htmlAttributes = new { @class = "form-control", required = "required" }
                   })
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">From</span>
                        </div>
                        @Html.DropDownListFor(model => model.UpFrom, (IEnumerable<SelectListItem>)ViewBag.UpFrom, "--- Select Company ---", new { @class = "form-control", required = "required" })

                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="input-group input-group-sm mb-3">
                        <a id="AddNewUpFrom" class="btn btn-dark" style="color: #ffc107">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">To</span>
                        </div>
                        @Html.DropDownListFor(model => model.UpTo, (IEnumerable<SelectListItem>)ViewBag.UpTo, "--- Select City ---", new { @class = "form-control", required = "required" })

                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="input-group input-group-sm mb-3">
                        <a id="AddNewUpto" class="btn btn-dark" style="color: #ffc107">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Amount</span>
                        </div>
                        @Html.EditorFor(model => model.UpAmount, new
                   {
                       htmlAttributes =
        new { @class = "form-control", @type = "number", @min = "0", @step = "1", @value = "0", @onchange = "UpdatePage()" }
                   })
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Description</span>
                        </div>
                        @Html.EditorFor(model => model.UpDescription, new
                   {
                       htmlAttributes =
        new { @class = "form-control" }
                   })
                    </div>
                </div>
            </div>

            <h5>Down Details</h5>
            <hr />
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Return Date</span>
                        </div>
                        @Html.EditorFor(model => model.DownReturnDate, new
                   {
                       htmlAttributes = new { @class = "form-control", required = "required" }
                   })
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-50" id="inputGroup-sizing-sm">From</span>
                        </div>
                        @Html.DropDownListFor(model => model.DownFrom, (IEnumerable<SelectListItem>)ViewBag.DownFrom, "--- Select City ---", new { @class = "form-control", required = "required" })

                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="input-group input-group-sm mb-3">
                        <a id="AddNewDownFrom" class="btn btn-dark" style="color: #ffc107">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-50" id="inputGroup-sizing-sm">To</span>
                        </div>
                        @Html.DropDownListFor(model => model.DownTo, (IEnumerable<SelectListItem>)ViewBag.DownTo, "--- Select City ---", new { @class = "form-control", required = "required" })

                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="input-group input-group-sm mb-3">
                        <a id="AddNewDownTo" class="btn btn-dark" style="color: #ffc107">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Description</span>
                        </div>
                        @Html.EditorFor(model => model.DownDescription, new
                   {
                       htmlAttributes =
        new { @class = "form-control" }
                   })
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Amount</span>
                        </div>
                        @Html.EditorFor(model => model.DownAmount, new
                   {
                       htmlAttributes =
        new { @class = "form-control", @type = "number", @min = "0", @step = "1", @value = "0", @onchange = "UpdatePage()" }
        })
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Total Amount</span>
                        </div>
                        <input type="number" id="TotalIncome" class="form-control" readonly="readonly" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-3">
            <h5>Vehicle Loadings</h5>
            <hr />
            <div class="row">
                <div class="col-12 col-md-6">

                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning float-right" id="AddVehicleLoading">Add Vehicle Loadings</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 pl-2">
                    <table id="tbl_VehicleLoading" class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Vehicle Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Diesel Details</h4>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning float-right" id="addDieselDetail">Add Diesel Details</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table id="tbl_DieselDetails" class="table table-borderless">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Date</th>
                        <th>Pump Name</th>
                        <th>Litre</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Oil & Others</th>
                        <th>Amount</th>
                        <th>Total</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row totalsbg">

        <div class="col-md-5 pr-2">
            <div class="row">
                <div class="col-md-10">
                    <strong>Total Litres</strong>
                </div>
                <div class="col-md-2">
                    <h5 id="TotalLitres">0</h5>
                    @*<input type="text" class="form-control" value="200" aria-label="Small" aria-describedby="inputGroup-sizing-sm">*@
                </div>
            </div>
        </div>
        <div class="col-md-1 pl-2"></div>

        <div class="col-md-1 pl-2"></div>
        <div class="col-md-5 pr-2">
            <div class="row">
                <div class="col-md-6">
                    <strong>Total Diesel</strong>
                </div>
                <div class="col-md-6">
                    @*<input type="text" class="form-control" value="200,000" aria-label="Small" aria-describedby="inputGroup-sizing-sm">*@
                    <h5 id="TotalDiesel">0</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.OilShopId, (IEnumerable<SelectListItem>)ViewBag.OilShop, "--- Select Oil Shop ---", new { @class = "form-control", required = "required" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.OilAmount, new
               {
                   htmlAttributes =
new { @class = "form-control", @type = "number", @value = "0", @onchange = "UpdatePage()" }
               })
                    @*<input type="text" id="OilShopAmount" class="form-control" value="98,476" aria-label="Small" aria-describedby="inputGroup-sizing-sm">*@
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <strong>Total Amount</strong>
                </div>
                <div class="col-md-6">
                    <h5 id="TotalAmount">0</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h5>Other Expanses</h5>
    <hr />
    <div class="row">
        <div class="col-12 col-md-1">
            <div class="input-group input-group-sm mb-3">
                <a id="AddNewExpanseHead" class="btn btn-dark" style="color: #ffc107">

                    <i class="fa fa-plus"></i>  Expanse Head
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning float-right" id="addExpanseDetail">Add Expanses</button>
        </div>
    </div>
    <div class="row">

        <div class="col-md-7 pl-2">

            <table id="tbl_ExpanseDetails" class="table table-borderless">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Others Expense</th>
                        <th>Amount</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="row mt-3 totalsbg">

                <div class="col-md-4  text-center">
                    Total Expanse
                </div>
                <div class="col-md-8  text-center">
                    <h5 id="totalExpanse">0</h5>
                </div>
            </div>
        </div>

        <div class="col-md-5 pr-2">
            <div class="row">
                <div class="col-md-6">
                    Total Amdan
                </div>
                <div class="col-md-6">
                    <h5 id="TotalIncome1">0</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    Total Deisel & oil
                </div>
                <div class="col-md-6">
                    <h5 id="TotalDiesel1">0</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    Total Others Expense
                </div>
                <div class="col-md-6">
                    <h5 id="totalExpanse1">0</h5>
                </div>
            </div>
            <div class="row mt-3 totalsbg">
                <div class="col-md-12  text-center">
                    Trip Profit
                </div>
                <div class="col-md-12  text-center">
                    <h5 id="totalProfit">0</h5>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-dark" id="btnSaveVoucher">Save</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newDieselModal">
        <div class="modal-dialog modal-lg" style="width:1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Diesel Details</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <form id="NewDieselForm">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <input type="hidden" id="CustomerId" />
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Date</span>
                                        </div>
                                        <input class="form-control text-box single-line" id="txtdieseldate" name="txtdieseldate" required="required" type="datetime-local" value="">
                                        @*<input type="date" id="txtdieseldate" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">*@
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">To</span>
                                        </div>
                                        @Html.DropDownList("dropDownPump", (IEnumerable<SelectListItem>)ViewBag.PumpId, "--- Select Pump ---", new { @class = "form-control", required = "required" })

                                        @*@Html.DropDownListFor(model => model.DownTo, (IEnumerable<SelectListItem>)ViewBag.PumpId, new { @class = "form-control", required = "required" })*@

                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Litre</span>
                                        </div>
                                        <input type="number" id="txtLitre" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Rate</span>
                                        </div>
                                        <input type="number" id="txtRate" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Oil and Others</span>
                                        </div>
                                        <input type="text" id="txtOilandOthers" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Amount</span>
                                        </div>
                                        <input type="number" id="txtAmount" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="saveDieselDetails" type="submit" class="btn btn-warning">Save Diesel Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newExpanseModal">
        <div class="modal-dialog modal-lg" style="width:1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Expanse Details</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <form id="NewExpanseForm">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">To</span>
                                        </div>
                                        @Html.DropDownList("dropDownExpanseHead", (IEnumerable<SelectListItem>)ViewBag.ExpanseHead, "--- Select Expanse Head ---", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Amount</span>
                                        </div>
                                        <input type="number" id="txtExpanseAmount" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button id="saveExpanseDetails" type="submit" class="btn btn-warning">Save Expanse Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newVehicleLoadingModal">
        <div class="modal-dialog modal-lg" style="width:1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Vehicle Loading Details</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <form id="NewLoadingForm">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Vehicle Name</span>
                                        </div>
                                        <input type="text" id="txtnewVehicleName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Description</span>
                                        </div>
                                        <input type="text" id="txtnewVehicleDesc" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button id="saveVehicleLoadingDetails" type="submit" class="btn btn-warning">Save Loading Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NewExpanseHead">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    @*<h4>Add New City</h4>*@
                </div>

                <form id="NewExpanseHeadForm">
                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Expanse Head Name</span>
                                        </div>
                                        <input type="text" id="modalExpanseHeadName" name="modalExpanseHeadName" placeholder="Expanse Head Name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="saveNewExpanseHead" type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NewVehicle">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    @*<h4>Add New City</h4>*@
                </div>

                <form id="NewVehicleForm">
                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Vehicle Number</span>
                                        </div>
                                        <input type="text" id="modalVehicleNumber" name="modalVehicleNumber" placeholder="Vehicle Number" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Owner Name</span>
                                        </div>
                                        <input type="text" id="modalOwnerName" name="modalOwnerName" placeholder="Owner Name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Owner Contact Number</span>
                                        </div>
                                        <input type="text" id="modalOwnerContactNumber" name="modalOwnerContactNumber" placeholder="Owner Contact Number" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="saveNewVehicle" type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newCityModal">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    @*<h4>Add New City</h4>*@
                </div>

                <form id="NewCityForm">
                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">City Name</span>
                                        </div>
                                        <input type="text" id="modalCityName" name="modalCityName" placeholder="City Name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="saveCity" type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NewCompany">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    @*<h4>Add New City</h4>*@
                </div>

                <form id="NewCompanyForm">
                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Company Name</span>
                                        </div>
                                        <input type="text" id="modalCompanyName" name="modalComapnyName" placeholder="Company Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Contact Person</span>
                                        </div>
                                        <input type="text" id="modalContactPerson" name="modalContactPerson" placeholder="Contact Person" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">Contact Number</span>
                                        </div>
                                        <input type="text" id="modalContactNumber" name="modalContactNumber" placeholder="Contact Number" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="saveNewCompany" type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            var url = $("#RedirectTo").val();

            //Show Modal.
            //function addDieselDetail() {

            //}

            $("#AddNewExpanseHead").click(function (e) {
                $("#NewExpanseHead").modal();
            });

            function saveNewExpanseHead(data) {
                return $.ajax({
                    type: 'POST',
                    url: "/Vouchers/SaveExpanseHead",
                    data: data,
                    success: function (result) {
                        if (result.Id) {
                            alert("Record Saved Successfully!")
                            $("#modalExpanseHeadName").val('');
                            var ddl = $('#dropDownExpanseHead');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.HeadName)
                                .appendTo(ddl)
                        }
                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            //Collect Multiple Order List For Pass To Controller
            $("#saveNewExpanseHead").click(function (e) {
                e.preventDefault();

                var headName = $("#modalExpanseHeadName").val();

                var data = {
                    HeadName: headName
                };

                $.when(saveNewExpanseHead(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });

            });

            $("#AddNewVehicle").click(function (e) {
                $("#NewVehicle").modal();
            });

            function saveNewVehicle(data) {
                return $.ajax({
                    type: 'POST',
                    url: "/Vouchers/SaveVehicle",
                    data: data,
                    success: function (result) {
                        if (result.Id) {
                            alert("Record Saved Successfully!")
                            $("#modalVehicleNumber").val('');
                            $("#modalOwnerName").val('');
                            $("#modalOwnerContactNumber").val('');
                            var ddl = $('#VehicleNumber');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.VehicleNumber)
                                .appendTo(ddl)
                        }
                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            //Collect Multiple Order List For Pass To Controller
            $("#saveNewVehicle").click(function (e) {
                e.preventDefault();

                var VehicleNumber = $("#modalVehicleNumber").val();
                var OwnerName = $("#modalOwnerName").val();
                var OwnerContactNumber = $("#modalOwnerContactNumber").val();

                var data = {
                    VehicleNumber: VehicleNumber,
                    OwnerName: OwnerName,
                    OwnerContactNumber: OwnerContactNumber
                };

                $.when(saveNewVehicle(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });

            });

            $("#AddNewVehicle").click(function (e) {
                $("#NewVehicle").modal();
            });

            $("#AddNewUpFrom").click(function (e) {
                $("#NewCompany").modal();
            });

            function saveNewCompany(data) {
                return $.ajax({
                    type: 'POST',
                    url: "/Vouchers/SaveCompany",
                    data: data,
                    success: function (result) {
                        if (result.Id) {
                            alert("Record Saved Successfully!")
                            $("#modalCompanyName").val('');
                            $("#modalContactPerson").val('');
                            $("#modalContactNumber").val('');
                            var ddl = $('#UpFrom');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.Name)
                                .appendTo(ddl)
                        }
                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            //Collect Multiple Order List For Pass To Controller
            $("#saveNewCompany").click(function (e) {
                e.preventDefault();

                var CompanyName = $("#modalCompanyName").val();
                var ContactPerson = $("#modalContactPerson").val();
                var ContactNumber = $("#modalContactNumber").val();

                var data = {
                    Name : CompanyName,
                    ContactPerson: ContactPerson,
                    ContactNumber: ContactNumber
                };

                $.when(saveNewCompany(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });

            });


            $("#AddNewUpto").click(function (e) {
                $("#newCityModal").modal();
            });
            $("#AddNewDownFrom").click(function (e) {
                $("#newCityModal").modal();
            });
            $("#AddNewDownTo").click(function (e) {
                $("#newCityModal").modal();
            });

            function saveCity(data) {
                return $.ajax({
                    type: 'POST',
                    url: "/Vouchers/SaveCity",
                    data: data,
                    success: function (result) {
                        if (result.Id) {
                            alert("Record Saved Successfully!")
                            $("#modalCityName").val('');
                            var ddl1 = $('#UpTo');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.Name)
                                .appendTo(ddl1)
                            var ddl2 = $('#DownFrom');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.Name)
                                .appendTo(ddl2)
                            var ddl3 = $('#DownTo');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.Name)
                                .appendTo(ddl3)
                        }
                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            //Collect Multiple Order List For Pass To Controller
            $("#saveCity").click(function (e) {
                e.preventDefault();

                var cityName = $("#modalCityName").val();

                var data = {
                    Name: cityName
                };

                $.when(saveCity(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });

            });

            $("#addDieselDetail").click(function (e) {
                $("#newDieselModal").modal();
            });

            $("#addExpanseDetail").click(function (e) {
                $("#newExpanseModal").modal();
            });

            $("#AddVehicleLoading").click(function (e) {
                $("#newVehicleLoadingModal").modal();
            });



            //function addExpanseDetail() {
            //    $("#newExpanseModal").modal();
            //}
            //Add Multiple Order.
            //$("#addToList").click(function (e) {
            //    e.preventDefault();

            //    if ($.trim($("#productName").val()) == "" || $.trim($("#price").val()) == "" || $.trim($("#quantity").val()) == "") return;

            //    var productName = $("#productName").val(),
            //        price = $("#price").val(),
            //        quantity = $("#quantity").val(),
            //        detailsTableBody = $("#detailsTable tbody");

            //    var productItem = '<tr><td>' + productName + '</td><td>' + quantity + '</td><td>' + price + '</td><td>' + (parseFloat(price) * parseInt(quantity)) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            //    detailsTableBody.append(productItem);
            //    clearItem();
            //});
            //After Add A New Order In The List, Clear Clean The Form For Add More Order.
            function clearItem() {
                $("#txtdieseldate").val('');
                $("#txtLitre").val('');
                $("#txtRate").val('');
                $("#txtOilandOthers").val('');
                $("#txtAmount").val('');
            }

            function clearExpanseItem() {
                $("#txtExpanseAmount").val('');
                $("#dropDownExpanseHead").val('');
            }

            // After Add A New Order In The List, If You Want, You Can Remove It.
            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                        $(this).remove();
                        UpdatePage();
                    });
                }

            });



            //After Click Save Button Pass All Data View To Controller For Save Database
            $("#btnSaveVoucher").click(function (e) {
                $("#btnSaveVoucher").attr("disabled", true);
                var expanseArr = [];
                var dieselArr = [];
                var loadingArr = [];
                var loadingArrDetail = [];

                $.each($("#tbl_VehicleLoading tbody tr"), function () {
                    loadingArrDetail.push({
                        VehicleName: $(this).find('td:eq(1)').html().trim(),
                        Description: $(this).find('td:eq(2)').html().trim(),
                        IsDeleted: 0
                    })
                });


                loadingArr.push({
                    VehicleId: $("#VehicleNumber").val(),
                    LoadingDate: $("#CreatedDate").val(),
                    EntryDate: $("#CreatedDate").val(),
                    VehicleLoadingDetail: loadingArrDetail
                });


                $.each($("#tbl_ExpanseDetails tbody tr"), function () {
                    expanseArr.push({
                        //VoucherId: "0",
                        ExpanseId: $(this).find('td:eq(4)').html().trim(),
                        Amount: $(this).find('td:eq(2)').html().trim(),
                        CreatedDate: $("#CreatedDate").val(),
                        IsDeleted: 0
                    });
                });

                $.each($("#tbl_DieselDetails tbody tr"), function () {
                    dieselArr.push({
                        //VoucherId: "0",
                        Date: $(this).find('td:eq(1)').html(),
                        StationId: $(this).find('td:eq(10)').html(),
                        Litre: $(this).find('td:eq(3)').html(),
                        Rate: $(this).find('td:eq(4)').html(),
                        OilAndOthers: $(this).find('td:eq(6)').html(),
                        Amount: $(this).find('td:eq(7)').html(),
                        CreatedDate: $("#CreatedDate").val(),
                        IsDeleted: 0
                    });
                });

                var data = JSON.stringify({
                    VehicleNumber: $("#VehicleNumber").val(),
                    Month: $("#Month").val(),
                    UpDate: $("#UpDate").val(),
                    UpFrom: $("#UpFrom").val(),
                    UpTo: $("#UpTo").val(),
                    UpAmount: $("#UpAmount").val(),
                    UpDescription: $("#UpDescription").val(),
                    DownReturnDate: $("#DownReturnDate").val(),
                    DownFrom: $("#DownFrom").val(),
                    DownTo: $("#DownTo").val(),
                    DownDescription: $("#DownDescription").val(),
                    DownAmount: $("#DownAmount").val(),
                    CreatedDate: $("#CreatedDate").val(),
                    IsDeleted: 0,
                    CreatedById: 1,
                    OilShopId: $("#OilShopId").val(),
                    OilAmount: $("#OilAmount").val(),
                    VoucherOthersExpenses: expanseArr,
                    VoucherDieselDetails: dieselArr,
                    VehicleLoading: loadingArr


                    //order: orderArr
                });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Vouchers/SaveVoucher",
                    data: data,
                    success: function (result) {

                        if (typeof result != "undefined" && result != null) {
                            alert(result.split("**")[1]);
                            $("#VoucherNumber").text(result.split("**")[0]);
                            //location.href = url;
                        }

                    },
                    error: function () {
                        $("#btnSaveVoucher").attr("disabled", false);
                        alert("Error!");
                    }
                });
            });

            //Collect Multiple Order List For Pass To Controller
            $("#saveDieselDetails").click(function (e) {
                e.preventDefault();

                if ($.trim($("#txtdieseldate").val()) == "" || $.trim($("#txtLitre").val()) == "" || $.trim($("#txtRate").val()) == "") return;

                var date = $("#txtdieseldate").val(),
                    litre = $("#txtLitre").val(),
                    rate = $("#txtRate").val(),
                    oilothers = $("#txtOilandOthers").val().trim(),
                    oilotherAmount = $("#txtAmount").val().trim(),
                    pump = $("#dropDownPump").val(),
                    pumpName = $("select#dropDownPump option:selected").text();

                detailsTableBody = $("#tbl_DieselDetails tbody");
                var index = document.getElementById("tbl_DieselDetails").rows.length;
                var productItem = '<tr><td>' + index + '</td><td>' + date + '</td><td>' + pumpName + '</td><td>' + litre + '</td><td>' + rate + '</td><td>' + (parseFloat(litre) * parseFloat(rate)).toFixed(2) + '</td><td>' + oilothers + '</td><td>' + oilotherAmount + '</td><td>' + parseFloat(parseFloat(litre) * parseFloat(rate) + parseFloat(oilotherAmount)).toFixed(2) + '</td><td> <a data-itemId="0" href="#" class="deleteItem">Remove</a></td><td style="visibility:hidden;">' + pump + '</td></tr > ';
                detailsTableBody.append(productItem);
                clearItem();
                UpdatePage();
            });

            $("#saveExpanseDetails").click(function (e) {
                e.preventDefault();

                if ($.trim($("#txtExpanseAmount").val()) == "") return;

                var amount = $("#txtExpanseAmount").val(),
                    expanseHead = $("#dropDownExpanseHead").val(),
                    expanseHeadName = $("select#dropDownExpanseHead option:selected").text();

                detailsTableBody = $("#tbl_ExpanseDetails tbody");
                var index = document.getElementById("tbl_ExpanseDetails").rows.length;

                var productItem = '<tr><td>' + index + '</td><td>' + expanseHeadName + '</td><td>' + parseFloat(amount).toFixed(2) + '</td><td> <a data-itemId="0" href="#" class="deleteItem">Remove</a></td><td style="visibility:hidden;">' + expanseHead + '</td></tr > ';
                detailsTableBody.append(productItem);
                clearExpanseItem();
                UpdatePage();

            });

            $("#saveVehicleLoadingDetails").click(function (e) {
                e.preventDefault();

                if ($.trim($("#txtnewVehicleName").val()) == "") return;

                var name = $("#txtnewVehicleName").val();
                var desc = $("#txtnewVehicleDesc").val();

                vehicleLoadingBody = $("#tbl_VehicleLoading tbody");
                var index = document.getElementById("tbl_VehicleLoading").rows.length;

                var productItem = '<tr><td>' + index + '</td><td>' + name + '</td><td>' + desc + '</td><td> <a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr > ';
                vehicleLoadingBody.append(productItem);
                clearExpanseItem();
                UpdatePage();

            });

            function calculateTotalExpanse() {
                var totalExpanse = 0;
                $.each($("#tbl_ExpanseDetails tbody tr"), function () {
                    totalExpanse = totalExpanse + parseFloat($(this).find('td:eq(2)').html());
                });
                $("#totalExpanse").text(totalExpanse.toFixed(2));
                $("#totalExpanse1").text(totalExpanse.toFixed(2));
            }
            function calculateDieselValues() {
                var totalLitre = 0;
                var totalDiesel = 0.0;
                var oilAmount = $("#OilAmount").val();
                if (oilAmount == '')
                    oilAmount = 0;

                $.each($("#tbl_DieselDetails tbody tr"), function () {
                    totalLitre = totalLitre + parseFloat($(this).find('td:eq(3)').html());
                    totalDiesel = totalDiesel + parseFloat($(this).find('td:eq(8)').html());
                });

                $("#TotalLitres").text(totalLitre.toFixed(2));
                $("#TotalDiesel").text(totalDiesel.toFixed(2));

                $("#TotalAmount").text(parseFloat(parseFloat(totalDiesel) + parseFloat(oilAmount)).toFixed(2));
                $("#TotalDiesel1").text(parseFloat(parseFloat(totalDiesel) + parseFloat(oilAmount)).toFixed(2));
            }

            function calculateTotalIncome() {

                var TotalIncome = 0;
                var DownAmount = $("#DownAmount").val();
                if (DownAmount == '' || isNaN(DownAmount)) {
                    DownAmount = 0;
                }
                var UpAmount = $("#UpAmount").val();
                if (UpAmount == '' || isNaN(UpAmount)) {
                    UpAmount = 0;
                }
                TotalIncome = parseFloat(DownAmount) + parseFloat(UpAmount);
                $("#TotalIncome").val(TotalIncome.toFixed(2));
                $("#TotalIncome1").text(TotalIncome.toFixed(2));

            }
            function calculateProfit() {

                var TotalProfit = 0;
                var amdan = $("#TotalIncome1").text();
                if (amdan == '' || isNaN(amdan)) {
                    amdan = 0;
                }
                var diesel = $("#TotalDiesel1").text();
                if (diesel == '' || isNaN(diesel)) {
                    diesel = 0;
                }
                var expanse = $("#totalExpanse1").text();
                if (expanse == '' || isNaN(expanse)) {
                    expanse = 0;
                }
                TotalProfit = parseFloat(amdan) - (parseFloat(diesel) + parseFloat(expanse));
                $("#totalProfit").text(TotalProfit.toFixed(2));
            }

            function UpdatePage() {
                calculateTotalExpanse();
                calculateDieselValues();
                calculateTotalIncome();
                calculateProfit();
            }


            function displayVoucherNumber(VoucherNumber) {
                $("#VoucherNumber").val(VoucherNumber);
            }

        </script>
    }

    @if (!String.IsNullOrEmpty(ViewBag.error))
    {
        <div class="mt-2">
            <div class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        </div>
    }

    @if (!String.IsNullOrEmpty(ViewBag.result))
    {
        <div class="mt-2">
            <div class="alert alert-success" role="alert">
                @ViewBag.result
            </div>
        </div>
    }

</div>
        }
