@model RR_RoadWays_Services.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownFromNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownFromNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownToNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilShop.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpFromNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpFromNavigation.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpToNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleNumberNavigation.OwnerContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
