@model RR_RoadWays_Services.Models.Station;
@{
    ViewData["Title"] = "Add Station";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Add New Station</h4>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Name</span>
                </div>
                @Html.EditorFor(model => model.Name, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required" }
                })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Location</span>
                </div>
                @Html.EditorFor(model => model.Location, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required" }
                })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Owner Name</span>
                </div>
                @Html.EditorFor(model => model.OwnerName, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required" }
                })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Contact #</span>
                </div>
                @Html.EditorFor(model => model.ContactNumber, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required" }
                })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Station Type</span>
                </div>
                @Html.DropDownListFor(model => model.StationType, (IEnumerable<SelectListItem>)ViewBag.stationtypes,"--- Select Station Type ---", new { @class = "form-control", required = "required" })

            </div>
        </div>

        <div class="col-12 col-md-5">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">City</span>
                </div>
                @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.cities,"--- Select City ---", new { @class = "form-control", required = "required" })

            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="input-group input-group-sm mb-3">
                @*<button style="margin-right:10px" class="btn btn-dark pull-right" onclick="addNewCity()">+</button>*@
                <a id="AddNewCity" class="btn btn-dark" style="color: #ffc107">

                    <i class="fa fa-plus"></i>  Expanse Head
                </a>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </div>
    </div>

    <div class="modal fade" id="newCityModal">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    @*<h4>Add New City</h4>*@
                </div>

                <form id="NewCityForm">
                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text width-100" id="inputGroup-sizing-sm">City Name</span>
                                        </div>
                                        <input type="text" id="modalCityName" name="modalCityName" placeholder="City Name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="saveCity" type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            //Show Modal.
            
            $("#AddNewCity").click(function (e) {
                $("#newCityModal").modal();
            });
            function saveCity(data) {
                return $.ajax({
                    type: 'POST',
                    url: "/Station/SaveCity",
                    data: data,
                    success: function (result) {
                        if (result.Id) {
                            alert("Record Saved Successfully!")
                            var ddl = $('#CityId');
                            $(document.createElement('option'))
                                .attr('value', result.Id)
                                .text(result.Name)
                                .appendTo(ddl)
                        }
                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            //Collect Multiple Order List For Pass To Controller
            $("#saveCity").click(function (e) {
                e.preventDefault();

                var cityName = $("#modalCityName").val();

                var data = {
                    Name: cityName
                };

                $.when(saveCity(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });

            });
        </script>
    }

    @if (!String.IsNullOrEmpty(ViewBag.error))
        {
    <div class="mt-2">
        <div class="alert alert-danger" role="alert">
            @ViewBag.error
        </div>
    </div>
        }

    @if (!String.IsNullOrEmpty(ViewBag.result))
        {
    <div class="mt-2">
        <div class="alert alert-success" role="alert">
            @ViewBag.result
        </div>
    </div>
        }

</div>
}

