@model RR_RoadWays_Services.Models.Station;
@{
    ViewData["Title"] = "Edit Station";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>View Station</h4>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Name</span>
                </div>
                @Html.EditorFor(model => model.Name, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
                })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Location</span>
                </div>
                @Html.EditorFor(model => model.Location, new
           {
               htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
           })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Owner Name</span>
                </div>
                @Html.EditorFor(model => model.OwnerName, new
           {
               htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
           })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Contact #</span>
                </div>
                @Html.EditorFor(model => model.ContactNumber, new
           {
               htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
           })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Station Type</span>
                </div>
                @Html.DropDownListFor(model => model.StationType, (IEnumerable<SelectListItem>)ViewBag.stationtypes, "--- Select Station Type ---", new { @class = "form-control", required = "required", @disabled = "disabled" })

            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">City</span>
                </div>
                @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.cities, "--- Select City ---", new { @class = "form-control", required = "required", @disabled = "disabled" })

            </div>
        </div>
    </div>

    <a asp-action="Index">Back to List</a>
 
    @if (!String.IsNullOrEmpty(ViewBag.error))
    {
        <div class="mt-2">
            <div class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        </div>
    }

    @if (!String.IsNullOrEmpty(ViewBag.result))
    {
        <div class="mt-2">
            <div class="alert alert-success" role="alert">
                @ViewBag.result
            </div>
        </div>
    }

</div>
}

